
@{
    ViewBag.Title = "Education";
}
<header>
    <button><a href="https://localhost:44359/CV/Index">Home</a></button>
    <button><a href="https://localhost:44359/CV/Personal">Personal</a></button>
    <button><a href="https://localhost:44359/CV/Education">Education</a></button>
    <button><a href="https://localhost:44359/CV/Project">Project</a></button>
    <button><a href="https://localhost:44359/CV/Reference">Reference</a></button>
</header>
<ul>
    <li>SSC result GPA 5.00</li>
    <li>HSC result GPA 4.75</li>
    <li>BSc CSE result CGPA 3.91</li>
</ul>

