
@{
    ViewBag.Title = "Index";
}
<header>
    <button><a href="https://localhost:44359/CV/Index">Home</a></button>
    <button><a href="https://localhost:44359/CV/Personal">Personal</a></button>
    <button><a href="https://localhost:44359/CV/Education">Education</a></button>
    <button><a href="https://localhost:44359/CV/Project">Project</a></button>
    <button><a href="https://localhost:44359/CV/Reference">Reference</a></button>
</header>
<h1>NAME:Marfy,Ariful Islam</h1>
<h2>EMAIL:alex.arifulmarfy@gmail.com</h2>
<h3>ADDRESS:DHAKA</h3>

