
@{
    ViewBag.Title = "Personal";
}
<header>
    <button><a href="https://localhost:44359/CV/Index">Home</a></button>
    <button><a href="https://localhost:44359/CV/Personal">Personal</a></button>
    <button><a href="https://localhost:44359/CV/Education">Education</a></button>
    <button><a href="https://localhost:44359/CV/Project">Project</a></button>
    <button><a href="https://localhost:44359/CV/Reference">Reference</a></button>
</header>
<h2>MY name is ariful islam marfy .I am a student of AIUB.This is my 11th semester running.I want to be Web developer.</h2>

