
@{
    ViewBag.Title = "Project";
}
<header>
    <button><a href="https://localhost:44359/CV/Index">Home</a></button>
    <button><a href="https://localhost:44359/CV/Personal">Personal</a></button>
    <button><a href="https://localhost:44359/CV/Education">Education</a></button>
    <button><a href="https://localhost:44359/CV/Project">Project</a></button>
    <button><a href="https://localhost:44359/CV/Reference">Reference</a></button>
</header>
<h2>Coffeshop management system,Course: DATABASE</h2>
<h2>Nursing management system,Course: Webtech</h2>
<h2>Utilities service provider ,Course: Advance webtech </h2>
