
@{
    ViewBag.Title = "Reference";
}
<header>
    <button><a href="https://localhost:44359/CV/Index">Home</a></button>
    <button><a href="https://localhost:44359/CV/Personal">Personal</a></button>
    <button><a href="https://localhost:44359/CV/Education">Education</a></button>
    <button><a href="https://localhost:44359/CV/Project">Project</a></button>
    <button><a href="https://localhost:44359/CV/Reference">Reference</a></button>
</header>
<h2>Reference</h2>
<h2>TANVIR AHMED</h2>

    <b>Lecturer,CS Department</b>
    <br />
    <b>AIUB</b>



<h2>RASHIDUL HASAN NABIL</h2>

    <b>Lecturer,CS Department</b>
    <br />
    <b>AIUB</b>


